<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<system.serviceModel>
		<services>
			<service name="AstroService.AstroServer">
				<!-- Endpoint for named pipe binding -->
				<endpoint address="AstroPipe"
						  binding="netNamedPipeBinding"
						  contract="AstroService.IAstroContract" />
				<!-- Metadata exchange endpoint -->
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<!-- HTTP base address -->
						<add baseAddress="http://localhost:8443/AstroService/" />
						<!-- Named pipe base address -->
						<add baseAddress="net.pipe://localhost/AstroService" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
